/* Import Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Import vendor styles */
@import '/assets/vendor/bootstrap-icons/bootstrap-icons.css';
@import '/assets/vendor/aos/aos.css';
@import '/assets/vendor/glightbox/css/glightbox.min.css';
@import '/assets/vendor/swiper/swiper-bundle.min.css';

/* Import main template styles */
@import '/assets/css/main.css';

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
